button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

textarea {
  overflow: auto;
}

html {
    font-size: 10px;
    font-family: 'Oswald', sans-serif;
    background-color: #BEB7A4;
}

body {
    width: 800px;
    background-color: #FFFFFC;
    margin: 0 auto;
    padding: 0px 20px 20px 20px;
    border-radius: 1em;
}

h1 {
    margin: 0;
    padding: 20px 0;
    font-size: 5rem;
    text-align: center;
    color: #353A47;
}

header h1::first-letter {
    color: #353A47;
}

section p {
    text-indent: 3rem;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 3rem;
    text-align: center;
    color: #353A47;
}

.navigation {
    display: flex;
    padding: 0;
    background-color: #FFFFFC ;
    border-block-end: 2px solid #353A47;
}

.navigation a {
    
    color: #353A47;
    text-decoration: none;
    font-size: 2rem;
}

.navigation li {
    list-style: none;
}

.navigation li:nth-child(even) {
    border-left: 2px solid#FFFFFC;
    border-right: 2px solid #FFFFFC;
}

.navigation li:hover{
    background-color: #FFFFFC;
}

.sight {
    padding-bottom: 2rem;
    border-bottom: 5px dotted #353A47;
}

ul {
    padding-left: 3rem;
}

li {
    padding: 0 20px;
    
}
main  li {
    background-image: url(list.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 1.5rem;
    list-style: none;
}

li a:hover {
    text-decoration: dotted;
    font-size: 2.5rem;
    color: #E84855;    
}

p, li, ul {
    text-align: justify;
    font-size: 1.6rem;
    line-height: 2;
    letter-spacing: 0.1rem;
    color: #353A47;
}   

img {
    display: block;
    margin: 0 auto;
    max-width: 600px;
}

footer {
    margin-top: 50px;
}

footer p {
    text-decoration: overline #3185FC 5px;
    text-align: center;
}

footer span {
    text-decoration: underline #F9DC5C 5px;
}

.sights {
    max-width: 800px;
    display: block;
    margin: 0 auto;
}

